<h1>Sessions#login</h1>
<p>Find me in app/views/sessions/login.html.erb</p>

<%= form_tag("login_attempt", method: "post") do %>
  <%= label_tag(:email, "Email:") %>
  <%= text_field_tag(:email) %>
  <%= label_tag(:password, "Password:") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("SIGN IN") %>
<% end %>