<h2>
  <%= link_to(post.title.upcase, post_path(post.id)) %>
</h2>
<h3>
  <%= post.user.name.upcase %> | 
  POSTED <%= distance_of_time_in_words(Time.now, post.created_at).upcase %> AGO 
  <% if current_user && current_user.id == post.user.id %>
    | <%= link_to("EDIT", edit_post_path(post.id)) %> 
    | <%= link_to("DELETE", post_path(post.id), method: :delete, data: {confirm: 'Are you sure?'}) %>
  <% end %>
</h3>
<p>
  <%= post.content %>
</p>
<h3>
  <%= link_to(post.comments.count.to_s + " Comment".pluralize(post.comments.count).upcase, post_path(post.id) + "#comments") %>
</h3>